<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.5.0-rc07" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.0-rc07" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.0-rc07" targetFramework="net461" />
  <package id="ParallelExtensionsExtras" version="1.2.0.0" targetFramework="net461" />
</packages>